<html>
<head>
  <link rel="stylesheet" href="app.css">
</head>
<div class="container">
<div id="stepProgressBar">
  <div class="step">
    <p class="step-text">About</p>
    <div class="bullet">1</div>
  </div>
  <div class="step">
    <p class="step-text">Contact</p>
    <div class="bullet">2</div>
  </div>
  <div class="step">
    <p class="step-text">Step 3</p>
    <div class="bullet">3</div>
  </div>
  <div class="step">
    <p class="step-text">Step 4</p>
    <div class="bullet ">4</div>
  </div>
</div>
<div id="main">
  <p id="content"  class="text-center">Step Number 1</p>
  <button id="previousBtn" >Previous</button>
  <button id="nextBtn">Next</button>
  <button id="finishBtn" >Finish</button>
</div>
</div>

<script src="app.js"></script>
</html>