<!doctype html>
<html class="no-js" lang="zxx">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Data-entry Home-Page </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="manifest" href="site.webmanifest"> -->
  <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico">

  <!-- CSS here -->
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="../assets/css/slicknav.css">
  <link rel="stylesheet" href="../assets/css/flaticon.css">
  <link rel="stylesheet" href="../assets/css/animate.min.css">
  <link rel="stylesheet" href="../assets/css/magnific-popup.css">
  <link rel="stylesheet" href="../assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="../assets/css/themify-icons.css">
  <link rel="stylesheet" href="../assets/css/slick.css">
  <link rel="stylesheet" href="../assets/css/nice-select.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/login-form.css">
</head>
<body>

  <!--? Preloader Start -->
  <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
        <div class="preloader-circle"></div>
        <div class="preloader-img pere-text">
          <img src="../assets/img/logo/loder.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <!--? Preloader End -->
  <header>
  </header>
  <main>
    <section class="login-form-area section-bg  pt-115 pb-120 fix">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-9">
            <div class="login-form-wrapper">
              <!-- scan QR code on donar-card and get the PID[QR code will return PID] of that user
              then redirect to appropriate step
            -->
            <div class="row">
              <div class="col-lg-12">
                <!-- Section Tittle -->
                <div class="section-tittle mb-50">
                  <h2>Authentication</h2>
                </div>
              </div>
            </div>
            <div class="row d-flex justify-content-center">
              <div class="col-xs-6 mr-20">
                <a class="btn-don-req" href="../scan-qr/scan-qr.html"> Scan QR </a>
              </div>

            </div>
            <!-- skip scan QR, we can directly get PID, then redirect to appropriate step -->
            <form id="" action="#" method="post" class="login-form">
              <div class="row d-flex justify-content-start align-items-center">
                <div class="col-6 d-flex align-items-center">
                  <input type="text" placeholder="Search via PID" required>
                </div>
                <div class="col-6 d-flex align-items-center mb-20">
                  <button type="submit" class="btn-don-req">Search</button>
                </div>
              </div>
            </form>
            <form id="" action="#" method="post" class="login-form">
              <div class="row d-flex justify-content-start align-items-center">
                <div class="col-6 d-flex align-items-center">
                  <input type="text" placeholder="Search via Phone Number" required>
                </div>
                <div class="col-6 d-flex align-items-center mb-20">
                  <button type="submit" class="btn-don-req">Search</button>
                </div>
              </div>
            </form>
            <!-- get phonenumber then determine if account exsists:
            if account doesnot exsists then create account and do the step1: [registration]
            if account exsists then check status and redirect to appropriate step
          -->
        </div>
      </div>
    </div>

  </div>
</section>

</main>
<footer>

</footer>


<!-- JS here -->

<!-- header and footer include -->
<script src="../assets/js/header-data-entry.txt" language="javascript" type="text/javascript"></script>
<script src="../assets/js/footer-data-entry.txt" language="javascript" type="text/javascript"></script>


<script src="./../assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="./../assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="./../assets/js/popper.min.js"></script>
<script src="./../assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="./../assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="./../assets/js/owl.carousel.min.js"></script>
<script src="./../assets/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="./../assets/js/wow.min.js"></script>
<script src="./../assets/js/animated.headline.js"></script>
<script src="./../assets/js/jquery.magnific-popup.js"></script>

<!-- Nice-select, sticky -->
<script src="./../assets/js/jquery.nice-select.min.js"></script>
<script src="./../assets/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="./../assets/js/contact.js"></script>
<script src="./../assets/js/jquery.form.js"></script>
<script src="./../assets/js/jquery.validate.min.js"></script>
<script src="./../assets/js/mail-script.js"></script>
<script src="./../assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="./../assets/js/plugins.js"></script>
<script src="./../assets/js/main.js"></script>
<!-- Extra Plugins  -->
<script src="../assets/js/jquery-3.2.1.min.js"></script>
<script src="../assets/plugins/grid-gallery/js/grid-gallery.min.js"></script>
<script src="../assets/js/script.js"></script>
<script src="../assets/js/app.js"></script>



</body>
</html>
